{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block header_stylesheets %}
	{{ parent() }}

	<!-- iCheck -->
  	<link rel="stylesheet" href="{{ asset('bundles/app/icheck/square/blue.css') }}">
{% endblock %}

{% set body_class = 'hold-transition login-page' %}

{% block body %}
	<div class="login-box">
	  <div class="login-logo">
	    <a href="#"><b>Be Good</b> Friend</a>
	  </div>
	  <!-- /.login-logo -->
	  <div class="login-box-body">
	    <p class="login-box-msg">Sign in to start your session</p>

	    {% if error is not empty %}
	    Error - {{ error.messageKey }}
	    {% endif %}

	    <form action="{{ path('login') }}" method="post">
	      <div class="form-group has-feedback">
	        <input type="text" class="form-control" placeholder="Username/Email" name="_username">
	        <span class="glyphicon glyphicon-user form-control-feedback"></span>
	      </div>
	      <div class="form-group has-feedback">
	        <input type="password" class="form-control" placeholder="Password" name="_password">
	        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
	      </div>
	      <div class="row">
	        <div class="col-xs-8">
	          <div class="checkbox icheck">
	            <label>
	              <input type="checkbox" name="_remember_me"> Remember Me For 1 Year
	            </label>
	          </div>
	        </div>
	        <!-- /.col -->
	        <div class="col-xs-4">
	          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
	        </div>
	        <!-- /.col -->
	      </div>
	    </form>

	    <div class="social-auth-links text-center">
	      <p>- OR -</p>
	      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
	        Facebook</a>
	      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
	        Google+</a>
	    </div>
	    <!-- /.social-auth-links -->

	    <a href="#">I forgot my password</a><br>
	    <a href="#" class="text-center">Register a new membership</a>

	  </div>
	  <!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
{% endblock %}

{% block body_javascripts %}
	{{ parent() }}

	<!-- iCheck -->
	<script src="{{ asset('bundles/app/icheck/icheck.min.js') }}"></script>

	<script>
	  $(function () {
	    $('input').iCheck({
	      checkboxClass: 'icheckbox_square-blue',
	      radioClass: 'iradio_square-blue',
	      increaseArea: '20%' // optional
	    });
	  });
	</script>
{% endblock %}