{% extends 'AppBundle::auth_wrapper.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

	<p class="login-box-msg">Register a new membership to become a good friend</p>

    <form action="{{ path('register') }}" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Full Name" name="full_name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" name="_email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="_password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Repeat Your Password" name="_password2">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" name="agree"> I agree with Ts and Cs
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    {{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' } }) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <hr>

    <a href="{{ path('restore') }}">I forgot my password</a><br>
    <a href="{{ path('login') }}" class="text-center">I have already a good friend</a>

{% endblock %}